* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding: 36px 156px;
  margin: 0 auto;
}
#search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}
.form-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}
.form-input:hover {
  border: 1px solid #000000;
}
.form-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.btn-form {
  border-radius: 8px;
  border: 1px solid #4e75ff;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.btn-form:hover {
  border: 1px solid #6c8cff;
  background: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.photo-card {
  width: 360px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
}
.photo-card img {
  height: 200px;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info p {
  margin: 0px;
}
.loader {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.active {
  display: block;
}

.load-more {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  padding: 8px 16px;
  margin: 32px auto;
}
